.img {
    width: 80px;
    height: 60px;
    align-items: center;
}

.landingg .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100%;
}

.landingg .container img {
    border-radius: 20px;
    margin-top: 20px;
    margin-top: 30px;
    margin-left: auto;
    width: 80%;

}

.books-minue img {
    width: 33%;
    height: 33%;
    border-radius: 10px;
    border: 10px solid var(--main-color);
}

.books-minue {
    padding: var(--section-padding) 0;
    background-color: white;
    position: relative;
    z-index: 1;
    min-height: calc(100svh - var(--nav-hight));
    background-color: var(--white);
}

.books-minue .container {
    text-align: center;

}

.books-minue .container .box {
    background-color: var(--ddd-color);
    border-radius: 3px solid var(--ddd-color);
    height: auto;
    width: auto;
    z-index: 1;
    border: 5px solid var(--main-color);
    border-radius: 15px;
}

@media (min-width:492px) and (max-width:676px) {
    .books-minue .container .box {
        width: 80%;
        margin: auto;
    }

}

.books-minue .container .box img {
    width: 100%;
    position: relative;
    height: 350px;
}

.books-minue .container .box .img-holder::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: var(--transition-time);
}