@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
   --main-color: #8fc73e;
   --alt-main-color: #ccdc45;
   --dark-main-color: #0c6b43;
   --text-color: #888;
   --text-light-color: #777;
   --nav-hight: 75px;
   --white: #fff;
   --black: #000;
   --color-222: #000;
   --section-padding: 80px;
   --red: #e74c3c;
   --border: 2px solid var(--main-color);
   --blue-color: #006880;
   --alt-main-color: #ff928f;
   --special-color: #efefef;
   --ddd-color: #ddd;
   --transition-time: .3s;
   --long-transition-time: .5s;
   --longer-transition-time: 1s;
   --special-shadow: 0 0 5px var(--dark-main-color),
      0 0 20px var(--dark-main-color),
      0 0 25px var(--dark-main-color),
      0 0 30px var(--dark-main-color);
   --smooth-shadow: 0px 0px 12px var(--ddd-color);
   --extra-smooth-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
   --border-radius-6: 6px;
   --border: 2px solid var(--black);
}

* {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
}

*::-webkit-scrollbar {
   width: 10px;
   height: 5px;
   display: none;
}

*::-webkit-scrollbar-track {
   background-color: transparent;
}

*::-webkit-scrollbar-thumb {
   background-color: var(--blue);
}

body {
   background-color: var(--light-bg);
}


.btn {

   padding: 10px 30px;
   cursor: pointer;
   font-size: 15px;
   color: #777;
   border-radius: 5px;
   border: var(--border);
   border-color: var(--dark-main-color);
   background-color: var(--main-color);
   margin-top: 10px;
   text-transform: capitalize;
}

.btn:hover {
   background-color: var(--dark-main-color);
   color: black;
   border: var(--border);
   border-color: var(--main-color);
}


.form-container {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-bottom: 300px;
}

.form-container form {
   width: 500px;
   height: 284px;
   border-radius: 5px;
   border: var(--border);
   border-color: var(--main-color);
   padding: 20px;
   text-align: center;
   background-color: #efefef;
}

.form-container form h3 {
   font-size: 20px;
   margin-bottom: 10px;
   text-transform: uppercase;
   color: var(--dark-main-color);
}

.form-container form .box {
   width: 100%;
   border-radius: 5px;
   border: var(--border);
   padding: 12px 14px;
   font-size: 15px;
   margin: 10px 0;
   color: black;
   border-color: var(--dark-main-color);
   background-color: var(--main-color);
}

.form-container form p {
   margin-top: 20px;
   font-size: 15px;
   color: var(--dark-main-color);
}

.form-container form p a {
   color: var(--red);
}

.form-container form p a:hover {
   text-decoration: underline;
}

@media (max-width:300px) {
   .form-container {
      width: 300px;
   }
}