@media (max-width:768px) {
    * {
        margin-top: 5px;
    }

    .nav .container .nav-info ul {
        display: block;
        position: absolute;
        right: 0%;
        top: calc(var(--nav-hight) - 1px);
        width: 50%;
        background: var(--white);
        box-shadow: var(--smooth-shadow);
        height: 0;
        transition: var(--long-transition-time);
        overflow: hidden;
    }
}